#mapid { height: 96vh; width: 99vw; }
.img-weather{
    width:1.875rem;
    height:1.875rem;
}
.Data-infomation{
    position: fixed;
    top: 1.3rem;
    right: 1.3rem;
    width: 300px;
    height: 180px;
    background-color: white;
    z-index: 1000000000;

}
.cover-data{
    display: flex;
    
}